@import "../../styles/variables.scss";

.roadmap__container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.roadmap__link {
  height: 45px;
  width: 205px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid black;
  box-sizing: border-box;
}

.roadmap__link:hover {
  outline: 5px dotted $fancyBlue;
  opacity: 1;
}

.roadmap__course-link {
  background-color: #00ff87;
}

.roadmap__article-link {
  background-color: $primaryColor;
}

.roadmap__article-link:hover {
  outline: none;
  background-color: #ebb16f;
}

.roadmap__link span {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

.roadmap__article-link span {
  font-size: 1rem;
  color: #fff;
}

.html-link {
  right: 44%;
  top: 23.7%;
}

.css-link {
  right: 44%;
  top: 28.5%;
}

.js-link {
  right: 44%;
  top: 33.5%;
}

.dns-link {
  right: 135px;
  top: 50px;
  height: 39px;
  width: 240px;
}

.domain-link {
  right: 135px;
  top: 89px;
  height: 39px;
  width: 240px;
}

.hosting-link {
  right: 135px;
  top: 128px;
  height: 39px;
  width: 240px;
}

.internet-link {
  left: 34px;
  top: 52px;
  height: 42px;
  width: 252px;
}

.http-link {
  left: 34px;
  top: 94px;
  height: 40px;
  width: 252px;
}

.browser-link {
  left: 34px;
  top: 134px;
  height: 40px;
  width: 252px;
}
