@import "../../styles/variables.scss";

.lesson-nav {
  margin-top: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lesson-nav_forwards,
.lesson-nav_backwards {
  min-width: 100px;
  height: 32px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lesson-nav_backwards {
  border: 1px solid #a87b62;
}

.lesson-nav_forwards {
  border: none;
  border-radius: 26px;
  font-weight: 700;
  background: $primaryColor;
  width: 120px;
  color: #ffffff;
  cursor: pointer;
}

.lesson-nav_forwards:hover {
  opacity: 1;
  background: #ebb16f;
  color: #fff;
}

.lesson-nav_backwards--disabled,
.lesson-nav_backwards--disabled:hover {
  opacity: 0.2;
  color: #000;
  cursor: auto;
}
