@import "../../styles/variables.scss";

pre {
  border: 1px dotted $primaryColor;
  padding: 10px;
  border-radius: 3px;
}

code {
  background-color: $secondaryColor;
  border-radius: 3px;
  font-style: italic;

  .tag {
    color: #905;
  }

  .attr-name {
    color: #690
  }

  .attr-value {
    color: #07a
  }
}

pre code {
  display: block;
  width: 100%;
  height: 100%;
}

code a {
  text-decoration: underline;
}

.goal {
  margin-bottom: 30px;
  width: 100%;
}

.buttonContainer {
  margin-bottom: 30px;
  text-align: center;
}

.runCode-button {
  border: none;
  border-radius: 26px;
  margin-bottom: 10px;
  font-weight: 700;
  width: 100%;
  background: #fad485;
  box-shadow: 0 3px 0 0 #ebb16f, 0 4px 0 0 #d99a59, 0 4px 8px 0 rgba(102, 55, 0, 0.4);
}

.runCode-button:hover {
  opacity: 1;
  background: #ebb16f;
}

.resetCode-button {
  width: 50%;
}

.challenge {
  width: 33%;
  padding: 0 10px;
}
