@import "../../styles/variables.scss";

code {
  background-color: $secondaryColor;
  padding: 0 5px;
  border-radius: 3px;
  font-style: italic;
}

code a {
  text-decoration: underline;
}

.goal {
  margin-bottom: 30px;
  width: 100%;
}

.buttonContainer {
  margin-bottom: 30px;
}

.runCode-button {
  border: 1px solid $primaryColor;
  //color: white;
  width: 50%;
}

.resetCode-button {
  //background-color: $primaryColor;
  //color: #fff;
    width: 50%;
}

.challenge {
  width: 33%;
  padding: 0 10px;
}
