code {
  background-color: gray;
  color: white;
}

.goal {
  border-top: 2px solid orchid;
  border-bottom: 2px solid orchid;
  margin-bottom: 30px;
  width: 100%;
}

.buttonContainer {
  margin-bottom: 30px;
}

.runCode-button {
  background-color: green;
  color: white;
  width: 50%;
}

.resetCode-button {
  background-color: khaki;
  width: 50%;
}

.challenge {
  width: 33%;
}
