@import "../../styles/variables.scss";

.output {
  width: 33%;
  display: flex;
  flex-direction: column;
  

  .task_passed {
    color: $successColor;
  }

  .task_failed {
    color: $failColor;
  }
}

.iframe {
  border: none;
}

.iframe-output {
  flex-grow: 1;
}

.console-output {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  background-color: $secondaryColor;
  overflow-y: auto;
}

.console-output p {
  width: 100%;
}
