.output {
  width: 33%;
  display: flex;
  flex-direction: column;
}

.iframe {
  border: none;
}

.iframe-output {
  flex-grow: 1;
}

.console-output {
  height: 100px;
  background-color: lightgoldenrodyellow;
}

.task_passed {
  color: green;
}

.task_failed {
  color: red;
}

