@import "../../styles/variables.scss";

.output {
  height: 100%;
  display: flex;
  flex-direction: column;

  .task_passed {
    color: $successColor;
  }

  .task_failed {
    color: $failColor;
  }

  .iframe {
    flex-grow: 1;
    border: none;
  }

  .test {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: $secondaryColor;
    overflow-y: auto;
  }

  .test p {
    width: 100%;
  }
}
