@import "../../styles/variables.scss";

header {
  font-family: "Raleway", serif;
  font-weight: 700;
  min-height: 50px;
  background-color: $secondaryColor;
}

header ul {
  display: flex;
}

header ul a {
  font-size: 1.2rem;
  text-transform: capitalize;
}

header li {
  margin-right: 10px;
}

.header-wrapper {
  margin-bottom: 30px;
  background-color: #fff;
}
.header__content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.login-button {
  margin-right: 10px;
}

.registration-button {
  background-color: $primaryColor;
  color: #fff;
}
