@import "../../styles/variables.scss";

.progressBar {
  width: 300px;
  height: 18px;
  background-color: $primaryColor;
  display: inline-block;
  margin: 0 5px 0 20px;
  border-radius: 15px;
}

.progressBar .progressIndicator {
  background-color: $successColor;
  height: 100%;
  border-radius: 15px;
  text-align: right;
  white-space: nowrap;
  padding-top: 1px;
  font-weight: 700;
  color: white;
}
