@import "../../styles/variables.scss";

.footer {
  font-family: "Raleway", serif;
  font-weight: 700;
  background-color: $secondaryColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer__contacts a {
  color: $fancyBlue
}

.footer-wrapper {
  background-color: $secondaryColor;
  margin-top: auto;
}

