@import "../../styles/variables.scss";

.header {
  font-family: "Raleway", serif;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header ul {
  display: flex;

  list-style: none;
  margin: 0;
  padding: 0;
}

.header ul a {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.header li {
  margin-right: 10px;
}

.header-wrapper {
  background-color: $secondaryColor;
}

.header__buttonCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__greeting {
  color: $primaryColor;
}
