@import "./variables.scss";

*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: $primaryColor;
  border-radius: 5px;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.3rem;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 1.5rem;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: $primaryColor;
}

a:active {
  opacity: 0.6;
}

button {
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

pre {
  border: 1px dotted $primaryColor;
  padding: 10px;
  border-radius: 3px;
}

code {
  background-color: $secondaryColor;
  border-radius: 3px;
  font-style: italic;

  .tag {
    color: #905;
  }

  .attr-name {
    color: #690;
  }

  .attr-value {
    color: #07a;
  }

  .selector {
    color: #669a16;
  }

  .rule {
    color: #0f6bcf;
  }
}

pre code {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 5px;
}

code a {
  text-decoration: underline;
}

.button {
  font-family: "Raleway", serif;
  min-width: 100px;
  height: 32px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button-primary {
  background-color: $primaryColor;
  color: #fff;

  &:hover {
    background-color: #ebb16f;
    color: white;
  }
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.centrifier {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.vertical-btnCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
