@import "../../styles/variables.scss";

.course {
  max-width: 900px;
  margin: 0 auto;
}

.course__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.course__lessonItem {
  margin-bottom: 10px;
}

.course__lessonItem a:hover {
  color: $primaryColor;
  opacity: 1;
}
