@import "../../styles/variables.scss";

.simulator__wrapper {
  height: 100%;
  background-color: #fff;
  padding: 0 10px;
}

.simulator__wrapper .challenge,
.simulator__wrapper .editor,
.simulator__wrapper .output {
  padding-top: 30px;
}

.reflex-container.vertical {
  flex-direction: row;
  min-width: 1px;
}

.reflex-container.horizontal {
  flex-direction: column;
  min-height: 1px;
}

.reflex-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

.reflex-container > .reflex-element {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.reflex-container.vertical > .reflex-splitter {
  border-right: 1px solid $primaryColor;
  border-left: 1px solid $primaryColor;
  cursor: col-resize;
  height: 100%;
  width: 3px;
}

.reflex-container.horizontal > .reflex-splitter {
  border-top: 1px solid $primaryColor;
  border-bottom: 1px solid $primaryColor;
  cursor: col-resize;
  width: 100%;
  height: 3px;
}

.simulator__resize-detector {
  height: 100%;
}
